---
const history = {
  highlights: [
    {
      year: 2023,
      event: "Création du club par Yvan Hammami"
    },
    {
      year: 2024,
      event: "Premier titre Ligue Panache"
    },
    {
      year: 2024,
      event: "Premier Lucarnid'Or"
    },
    {
      year: 2024,
      event: "Premier match dans l'élite"
    }
  ]
};
---

<section class="bg-white rounded-lg shadow-lg p-6 mb-8">
  <h2 class="text-2xl font-bold text-primary mb-4">Notre Histoire</h2>
  <p class="text-gray-700 mb-6">
    Le KDA Sporting Club, fondé dans le département de l'Ain par Yvan Hammami et Martin Lafay, incarne l'esprit de camaraderie et de passion pour le football au sein de sa communauté. Né d'une idée audacieuse en 2020, ce club unique a d'abord été créé pour offrir une opportunité aux joueurs de plus de 100 kilos de se rassembler et de partager leur amour du sport. Ce qui avait commencé comme une initiative pour célébrer la diversité des gabarits sur le terrain a rapidement évolué en une équipe compétitive et respectée.
</p>
 <p class="text-gray-700 mb-6">
Fier de ses racines locales, le KDA Sporting Club est profondément attaché à l'Ain, portant haut les couleurs et les valeurs de cette belle région. Loin d'être un simple club de football, il est devenu un symbole de fierté locale et un acteur important dans la promotion du sport amateur.
 </p>
<p class="text-gray-700 mb-6">
Aujourd'hui, le KDA Sporting Club fait partie intégrante de l'association des Lucarnivores, où il est reconnu pour son esprit combatif, son fair-play, et la solidarité de ses membres. Le club continue de grandir, attirant de nouveaux talents et rassemblant des passionnés de tous horizons autour de cette aventure sportive unique.
  </p>
  <div class="space-y-4">
    {history.highlights.map(item => (
      <div class="flex items-start">
        <span class="text-primary font-bold mr-4">{item.year}</span>
        <p class="text-gray-700">{item.event}</p>
      </div>
    ))}
  </div>
</section>
