---
const values = [
  {
    title: "Respect",
    description: "Le respect est une valeur clé du KDA Sporting Club. Il s'exprime sur et en dehors du terrain, à travers le respect des coéquipiers, des adversaires, des arbitres et des règles du jeu. Le club promeut un football où le fair-play est une priorité, garantissant une compétition saine et juste."
  },
  {
    title: "Engagement",
    description: "L'engagement est une valeur essentielle pour tous les membres du KDA Sporting Club. Chaque joueur et membre du club s'efforce de représenter le club avec honneur, en s'investissant pleinement pour atteindre les objectifs fixés. Le dévouement et la persévérance sont des qualités recherchées et cultivées."
  },
  {
    title: "Patriotisme local",
    description: "Fier de ses racines dans l'Ain, le club porte haut les couleurs de sa région et s'engage à promouvoir et valoriser son héritage local. Chaque match est l’occasion de représenter l’Ain avec fierté."
  },
  {
    title: "Camaraderie",
    description: "Le KDA Sporting Club est bien plus qu'une équipe de football ; c'est une véritable famille. La solidarité entre les membres, qu'ils soient joueurs, entraîneurs ou supporters, est essentielle. Cette camaraderie crée une atmosphère où chacun se sent soutenu et encouragé à donner le meilleur de lui-même."
  }
];
---

<section class="bg-white rounded-lg shadow-lg p-6 mb-8">
  <h2 class="text-2xl font-bold text-primary mb-4">Nos Valeurs</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    {values.map(value => (
      <div class="border-l-4 border-primary pl-4">
        <h3 class="font-bold text-lg text-primary mb-2">{value.title}</h3>
        <p class="text-gray-700">{value.description}</p>
      </div>
    ))}
  </div>
</section>
